<div class=" row">
    <div class="col">
        <button type="submit" class="btn btn-info form-control">
            CREATE
        </button>
    </div>
    <div class=" col">
        <a asp-action="Index" class=" btn btn-success form-control">
            BACK TO LIST
        </a>
    </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
